<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- HEAD -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Holberton AirBnB</title>

    <!-- FAVICON -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">

    <!-- **********************
	 CSS styles
	 ********************** -->

	<link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}?{{cache_id}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}?{{cache_id}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}?{{cache_id}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}?{{cache_id}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}?{{cache_id}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.css') }}?{{cache_id}}">

  <!-- **********************
       Javascript
       ********************** -->

    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></SCRIPT>
    <SCRIPT src="../static/scripts/101-hbnb.js?{{ cache_id }}"></SCRIPT>

  </head>
